.caption {
    position: absolute;
    width: 100%;
    top: 40%;
}
.banner {
    background-image: url("../assets/HuffPost.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    color: rgb(204, 83, 83);
    text-align: center;
    box-shadow: 2px 2px 10px 2px black
}
.bannerTitle {
    margin: auto;
    font-size: 72pt
}
.footer {
    position: absolute;
    bottom: 60px;
    right: 0;
    left: 0;
}
.indicator {
    margin: auto;
    position: relative;
    width: 35px;
    height: 35px;

    transform: rotate(45deg);
}
.indicator span {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: block;
    box-sizing: border-box;
    border: none;
    border-right: 3px solid rgb(204, 83, 83);
    border-bottom: 3px solid rgb(204, 83, 83);
    animation: animate 1s linear infinite;
}
.indicator span:nth-child(1){
    top: -30px;
    left: -30px;
    animation-delay: 0s
}
.indicator span:nth-child(2){
    top: -15px;
    left: -15px;
    animation-delay: 0.2s
}
.indicator span:nth-child(3){
    top: 0px;
    left: 0px;
    animation-delay: 0.4s
}
.indicator span:nth-child(4){
    top: 15px;
    left: 15px;
    animation-delay: 0.6s
}
.indicator span:nth-child(5){
    top: 30px;
    left: 30px;
    animation-delay: 0.8s
}
@keyframes animate 
{
    0%
    {
        border-color:  rgb(204, 83, 83);
    }
    20%
    {
        border-color:  rgb(204, 83, 83);
    }
    20.1%, 100%
    {
        border-color: rgb(204, 83, 83,.7);
    }
}
@media only screen and (max-width: 700px ){
    .caption {
        top: 30%;
    }
}
